a {
  color: #ff9900;
}

a:visited {
  color: #ffbb55;
}

a:hover {
  color: #dd8800;
}

.icon {
  color: #ffffff !important;
}

.wy-form input[name=q] {
  border-width: 0px;
}

.wy-menu-vertical a:active {
  background-color: #dd8800;
}

.wy-menu-vertical a {
  color: #dd8800;
}

.wy-nav-top, .wy-side-nav-search {
  background-color: #ff9900;
}

.wy-side-nav-search>div.version {
  color: rgba(255,255,255,0.5);
}
